<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
    <title>我是賓果機1號</title>
  </head>
  <body>
     <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">我是賓果機1號</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <p class="lead" id="main">
          <button class="btn btn-lg btn-primary btn-block" name="func" value="shutdown">系統關機</button>
          <button class="btn btn-lg btn-secondary btn-block" name="func" value="reboot">系統重啟</button>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Create By <a>Kenny Chou</a></p>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
			$(document).ready(function(){
   			$(":input[name=func]").click(function(){
					$('#main').html('準備關機中...');
		    	var jqxhr=$.post("/"+$(this).val());
					jqxhr.always(function(){
						$('#main').html('正在關機中...');
					});
				});
			});
    </script>
  </body>
</html>
